 #btnProductCreate {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


#btnProductUpdate {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#product_table {
  max-width: 90%;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* #productTableHead,
#productTableBody {
    display: flex;
    flex-direction: column;
} */


#productTableHead {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

#productTableBody {
    display: flex;
    flex-direction: column;
}

#prductTableHead .headRow,
#productTableBodyRow .bodyRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-align: start;
}

#productTableBodyRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #eee;
}

#productTableBodyRow:last-child {
    border-bottom: none;
}

#productTableHead .headRow,
#prductTablebodyRow .bodyRow {
    flex:8;
    text-align: center;
}

#productTableHeadRowRef,
#productTableBodyRef {
    width: 150px;
}

#productTableHeadRowName,
#productTableBodyName {
    width: 150px;
}

#productTableHeadRowPrice,
#productTableBodyPrice {
    width: 150px;
}

#productTableHeadRowStock, #productTableBodyStock {
    width: 150px;
}

#productTableHeadRowStatus, #productTableBodyStatus {
    width: 150px;
}

#productTableHeadRowDate, #productTableBodyDate {
    width: 150px;
}

#productTableBodyActions,
#productTableHeadRowActions {
  width: 150px;
}

#productTableHeadRowActions {
  padding-left: 10px;
}
#productTableBodyActions {
  display: flex;
  padding-left: 10px;
  gap: 10px;
}
