#account {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 10px;
}

/* Avatar */
#avatar-container {
  border: 2px solid #6e6d6d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 8rem;
  height: 7rem;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#info {
  font-size: 0.6rem;
}

#incon-setting {
  color: #14214e;
  padding: 0.5rem;
}
