/* Customer */
#customer-charts,
#stock-charts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 5px;
  margin-left: 50px;
}
#sales-charts,
#product-charts,
#payments-charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  font-size: 0.9rem;
  margin-right: 40px;
}

.isloading {
  margin-left: 40px;
  margin-top: 40px;
}