/* Customer */
#customer-charts,
#stock-charts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 5px;
}
#sales-charts,
#product-charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 170px;
  font-size: 0.9rem;
}
