.card_Dashboard {
  padding: 1rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* border: 1px solid #323232; */
  width: 300px;
  height: 150px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title span {
  position: relative;
  padding: 0.5rem;
  background-color: #10b981;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
}

.title span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 1rem;
}

.title-text {
  margin-left: 0.5rem;
  color: #374151;
  font-size: 15px;
}

.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data section {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1f2937;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.data .range {
  position: relative;
  background-color: #e5e7eb;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10b981;
  width: 76%;
  height: 100%;
  border-radius: 0.25rem;
}

@media screen and (max-width: 480px) {
  .card {
    margin-right: 160px;
    width: 100%;
  }
}
