@keyframes modal-show {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    45% {
      opacity: 1;
      transform: scale(1.05);
    }
    80% {
      opacity: 1;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes modal-hide {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;

      transform: scale(0.4);
    }
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 95%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 6;
  }
  
  .modal-show {
    animation: modal-show 0.3s ease forwards;
  }
  
  .modal-hide {

    animation: modal-hide 0.2s ease forwards;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .modal-header .modal-title {
    margin: 0;
  }

  
  .modal-body .modal-field {
    margin: 10px 0;
    font-size: 1em;
    color: #555555;
  }
  
  .modal-body .modal-field strong {
    color: #333333;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  .close-modal-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .close-modal-button:hover {
    background-color: #0056b3;
  }
  