*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  height: 100vh;
  background-color: #e4e3e8;
  position: relative;
}

.sidebar-bottom {
    width: 4rem;
    min-height: 100vh;
    height: 100%;
    background-color: #14214E;
    display: flex;
    flex-direction: column;
    transition: width 500ms ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.toggle-btn,
a {
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-bottom.active {
  width: 14rem;
}

.sidebar-header,
.sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links {
 overflow: auto;
}

.sidebar-header {
  height: 70px;
  padding: 24.5px 0;
  transition: all 0.3s ease;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}

.sidebar-bottom.active .logo-wrapper {
    width: 195px;
}


.logo-wrapper > .iconSidebar {
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.iconSidebar {
  justify-content: start;
  transition: all 0.3s ease;
}

.expand {
    scale: 1.5;
    transition: all 0.3s ease;
}

.linkPage,
.hidden {
  list-style: none;
  text-decoration: none;
}

.linkPage:hover {
  text-decoration: none;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.2rem;
  padding-top: 1.5rem;
}

.sidebar-links {
  /* Firefox */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */

  /* Webkit (Chrome, Safari, etc.) */
  -webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores Webkit */
  }

  /* Internet Explorer y Edge */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Edge Chromium (a partir de la versión 79) */

  /* Estilo para el track (fondo) de la barra de desplazamiento en Firefox */
  &::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
  }

  /* Estilo para el thumb (barra deslizante) de la barra de desplazamiento en Firefox */
  &::-webkit-scrollbar-thumb {
    background: transparent; /* Color transparente */
  }
}

.sidebar-bottom > .sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}

.sidebar-bottom.active .sidebar-links,
.sidebar-bottom.active .sidebar-header,
.sidebar-bottom.active .user-profile {
  justify-content: start;
}

.logo-wrapper,
.logo-wrapper:hover {
  text-decoration: none;
}

.linkPage {
  display: flex;
  justify-content: star;
  width: 90%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-right: 0;
  margin-left: 0;
  gap: 1.5rem;
  text-decoration: none;
  color: white;
}


.hidden {
  display: none;
  color: white;
}

.sidebar-bottom.active .hidden {
  display: inline;
  white-space: nowrap;
}

.linkPage:hover {
  filter: drop-shadow(0px 0px 10px #fff);
  transition: all 0.3s ease;

}

.linkPage.active {
  scale: 1.1;
  border-left: 3px solid #fff;
  transition: all 0.3s ease;
}

.linkPage > .iconSidebar {
  width: 20px;
  height: 20px;
}

.sidebar-bottom .sidebar-links {
  padding-bottom: 1.5rem;
}

.toggle-btn {
  position: absolute;
  right: -50px;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.sidebar-bottom.active .toggle-btn {
  transform: rotate(180deg);
}

/* Definimos la animación de entrada */
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

/* Definimos la animación de salida */
@keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
}

#logC {
    position: absolute;
    right: 10px;
    width: 44px;
    height: 43px;
    transition: all 0.3s ease;
}

#Logo_cosmic_blanco {
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 233px;
    height: 49px;
    display: none;
    color: #ffffff;
    transform: translateX(-100%);
    animation: slideIn 0.6s forwards;
}

.sidebar-bottom.active #Logo_cosmic_blanco {
    position: relative;
    z-index: 1;
    width: 233px;
    height: 49px;
    display: block;
    color: #ffffff;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    opacity: 1;
    visibility: visible; 
    transform: translateX(0); 
    animation: slideIn 0.6s forwards; /* Animación de entrada */
}

.sidebar-bottom.inactive #Logo_cosmic_blanco {
    animation: slideOut 0.6s forwards; /* Animación de salida */
}



 /* RESPONSIVE */

 @media screen and (min-width: 600px) {
    .sidebar-bottom {
      width: 5rem;
    }
  
    .sidebar-bottom.active {
      width: 18.3rem;
    }
  
    .sidebar-header {
      height: 80px;
      padding: 40px 0;
      transition: all 0.3s ease;
    }
  
    .logo-wrapper > .iconSidebar {
      width: 3.25rem;
      height: 3.25rem;
    }

    .linkPage > .iconSidebar {
      width: 24px;
      height: 24px;
    }
  
    .linkPage {
      
      padding: 0.5rem 1.25rem;
    }
    
    #logC {
        right: 12px;
        width: 55px;
        height: 55px;
    }

    #Logo_cosmic_blanco {
        scale: 1.35;
        translate: 35px 0 ;
    
    }

    .toggle-btn {
        top: 10px;
        transition: all 0.3s ease;
      }
  }