*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  height: 100vh;
  background-color: #e4e3e8;
  position: relative;
}

.sidebar-bottom {
    width: 4rem;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #14214E;
    transition: width 500ms ease;
}

.toggle-btn,
a {
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
  border: none;
}

.sidebar-bottom.active {
  width: 14rem;
}

.sidebar-header,
.sidebar-links {
  display: flex;
  align-items: center;
}


.sidebar-links {
height: calc(100vh - 70px);
 overflow: auto;
 box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.sidebar-header {
  height: 70px;
  transition: all 0.3s ease;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}

.sidebar-bottom.active .logo-wrapper {
  width: 195px;
}

.logo-wrapper > .iconSidebar {
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.iconSidebar {
  scale: 1.3;
  justify-content: start;
  transition: all 0.3s ease;
}

.expand {
  scale: 1.5;
  transition: all 0.3s ease;
}

.linkPage,
.hidden {
  list-style: none;
  text-decoration: none;
}

.linkPage:hover {
  text-decoration: none;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.2rem;
  padding-top: 1.5rem;
}

.sidebar-links {
  scrollbar-width: none; 
  -webkit-scrollbar {display: none;}
  -ms-overflow-style: none;
  scrollbar-width: none ;
  &::-webkit-scrollbar-track {
    background: transparent;}
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.sidebar-bottom > .sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}

.logo-wrapper,
.logo-wrapper:hover {
  text-decoration: none;
}

.linkPage {
  display: flex;
  justify-content: star;
  width: 90%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 15px 0;
  gap: 1.5rem;
  text-decoration: none;
  color: white;
}


.hidden {
  display: none;
  color: white;
}

.sidebar-bottom.active .hidden {
  display: inline;
  white-space: nowrap;
}

.linkPage:hover {
  filter: drop-shadow(0px 0px 10px #fff);
  transition: all 0.3s ease;
}

.linkPage.active {
  scale: 1.1;
  transition: all 0.3s ease;
}

.linkPage.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  width: 4px;
  height: 100%;
  background: #fff;
}

.linkPage > .iconSidebar {
  width: 20px;
  height: 20px;
}

.sidebar-bottom .sidebar-links {
  padding-bottom: 1.5rem;
}

.toggle-btn {
  position: absolute;
  right: -50px;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.sidebar-bottom.active .toggle-btn {
  transform: rotate(180deg);
}

/* Definimos la animación de entrada */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Definimos la animación de salida */
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

#logC {
  position: absolute;
  right: 10px;
  width: 44px;
  height: 43px;
  transition: all 0.3s ease;
}

#Logo_cosmic_blanco {
  position: absolute;
  z-index: 1;
  left: 17px;
  width: 233px;
  height: 49px;
  display: none;
  color: #ffffff;
  transform: translateX(-100%);
  animation: slideIn 0.6s forwards;
}

.sidebar-bottom.active #Logo_cosmic_blanco {
  position: relative;
  z-index: 1;
  width: 233px;
  height: 49px;
  display: block;
  color: #ffffff;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  animation: slideIn 0.6s forwards; /* Animación de entrada */
}

.sidebar-bottom.inactive #Logo_cosmic_blanco {
    animation: slideOut 0.6s forwards; /* Animación de salida */
}

 /* RESPONSIVE A DESKTOP */

 @media screen and (min-width: 600px) {
    .sidebar-bottom {
      width: 5rem;
    }
  
    .sidebar-bottom.active {
      width: 18.3rem;
    }
  
    .sidebar-header {
      height: 80px;
      padding: 40px 0;
      transition: all 0.3s ease;
    }
  
    .logo-wrapper > .iconSidebar {
      width: 3.25rem;
      height: 3.25rem;
    }

    .linkPage > .iconSidebar {
      width: 24px;
      height: 24px;
    }
  
    .linkPage {
      
      padding: 0.5rem 1.25rem;
    }
    
    #logC {
        right: 12px;
        width: 55px;
        height: 55px;
    }

    #Logo_cosmic_blanco {
        scale: 1.35;
        translate: 35px 0 ;
    
    }

    .toggle-btn {
      scale: 1.2;
        top: 20px;
        transition: all 0.3s ease;
      }
  }


  /* Cambios a la derecha */

  [dir="rtl"] .linkPage {
    flex-direction: row-reverse;
    justify-content: end;
    margin-right: -5px;
  }
  
  
  [dir="rtl"] .linkPage.active::before {
    right: 3px;
  }
  
  [dir="rtl"] .toggle-btn {
    position: absolute;
    transform: rotate(180deg);
    right: 90px;
    transition: all 0.5s ease;
  }
  [dir="rtl"] .sidebar-bottom.active .toggle-btn {
    transform: rotate(180deg);
    right: 304px;
    transition: all 0.5s ease;
  }
  
  
  [dir="rtl"] .sidebar-bottom.active .toggle-btn {
    transform: rotate(0deg);
  }

  [dir="rtl"] #logC {
    background-color: #14214E;
    box-shadow: 20px 0px 0px 0px #14214E;
    z-index: 5;
 
  }
  
  /* Animación de entrada desde la derecha */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); 
  }
  25% {
    opacity: 0;
    transform: translateX(100%); 
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%); 
  }
}

/* Estilos para #Logo_cosmic_blanco */
[dir="rtl"] #Logo_cosmic_blanco {
  position: absolute;
  z-index: 1;
  left: calc(0px - 80px); 
  width: 233px;
  height: 49px;
  display: none;
  color: #ffffff;
  animation: fadeInRight 0.6s forwards; /* Iniciar con la animación de entrada */
}

[dir="rtl"] .sidebar-bottom.active #Logo_cosmic_blanco {
  position: relative;
  z-index: 1;
  width: 233px;
  height: 49px;
  display: block;
  color: #ffffff;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  animation: fadeInRight 0.6s forwards; /* Animación de entrada */
}

[dir="rtl"] .sidebar-bottom.inactive #Logo_cosmic_blanco {
  animation: fadeOutRight 0.6s forwards; /* Animación de salida */
}

  
  
  /* RESPONSIVE A DESKTOP */
@media screen and (min-width: 600px) {
    [dir="rtl"] #logC {
        right: 12px;
        width: 55px;
        height: 55px;
    }
  
    [dir="rtl"] #Logo_cosmic_blanco {
        scale: 1.35;
        translate: 35px 0 ;
    }
  
    [dir="rtl"] .toggle-btn {
      right: 90px;

    }
  }
  