.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color:  transparent;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .tab:hover {
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  