.delivery-route {
  display: flex;
  flex-wrap: wrap; /* Ajusta para que los elementos se envuelvan si es necesario */
  gap: 1rem;
  margin-top: 1rem; /* Espacio entre la lista de usuarios y los envíos */
}

.envios {
  display: flex;
  align-items: center;
  cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

.pickup-point {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url('../../../../public/location.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translate(-50%, -50%);
  width: 300px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.popup.open {
  display: block;
}
