#dashboard_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
#dashboard_title {
  padding: 1rem;
}

#max-charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
  width: 100%;
}

#charts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

@media screen and (max-width: 480px) {
  #charts {
    flex-direction: column;
    width: 115%;
    margin: 1rem;
    gap: 4rem;
  }
}
