/* .main_olist {
    max-height: 400px; 
    overflow-y: auto; 
  }
  
  .main_olist::-webkit-scrollbar {
    width: 0px; 
  }
  
  .main_olist {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .mainShipment{
    padding: 0;
   }
 */

 #Shipment_external_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

/* #shipment_container {
  grid-area: shipmentList;
} */

/* #delivery_route {
  grid-area: routeList;
} */
  
  /* Popup styling */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Ajusta el ancho para pantallas pequeñas */
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 20px; /* Aumenta el padding */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
  }
  
  .popup.open {
    display: block;
  }
  
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 600px) {
    .popup {
      width: 90%; 
    }
    
   /*  .main_olist {
      padding: 5px 10px; 
      max-height: 290px; 
    }
    
    .card-container {
      margin: 10px 0; 
    }
    
    .card-content {
      padding: 10px; 
    }
   .mainShipment{
    margin-right: 500px;
    padding: 0;
   } */
  }
  