#Shipment_external_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* #shipment_container {
    grid-area: shipmentList;
} */

/* #delivery_route {
    grid-area: routeList;
} */