.header-container {
  display: grid;
  grid-template-columns:1fr 60px 80px;
  align-items: center;
  padding: 10px 20px;

}

.profileNavContainer {
  margin-right: 10px;
  justify-content: end;
}

.header-title-pages{
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 50px;
}

.iconReverse {
  transform: scaleX(-1);
  width: 32px; 
  height: 32px; 
}

[dir="rtl"] .iconReverse {
  transform: scaleX(1);
}

.action-icon {
  background: none;
  border: none;
  padding: 0;
}

.action-icon:hover {
  cursor: pointer;
}

.action-icon:active {
  transform: scale(0.9);
}


@media screen and (min-width: 600px) {
}
