.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;

}

.profileNavContainer {
  margin-right: 10px;
  justify-content: end;
}


@media screen and (min-width: 600px) {
}
