/* src/layouts/InitialLayout.css */
.initial-layout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Para ocultar el desbordamiento durante la transición */
}

.full-screen {
  background-color: black;
  color: white;
}

.split-screen {
  flex-direction: row;
}

.welcome-screen {
  display: flex;
  width: 100%;
  height: 100%;
}

.animated-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s ease;
}

.left-pane, .right-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para evitar desbordamiento */
}

.left-pane {
  justify-content: end;
  background-color: black;
  color: white;
}

.right-pane {
  background-color: white;
  color: black;
  transition: width 1s ease; 
}

.img-cosmic-intro {
  position: absolute;
  width: 500px;
  bottom: 56%;
}


a {
  text-decoration: none;
  color: inherit;
}

.video-cosmic-intro {
  width: 100%;
  height: 80vh;
}



.video-Movil {  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-button {
  position: absolute;
  bottom: 40%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.img-cosmic-intro {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.start-button {
  width: 10em;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.start-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
  transform-origin: center;
}

.start-button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
}

.start-button:hover::before, .start-button:hover::after {
  transform: scale(0)
}

.start-button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}



@media screen and (max-width: 800px) {



  .animated-initial {
    transition: width 1s ease;
  }

  .left-pane {
    width: 100%;
    transition: width 1s ease;
  }

  .initial-layout-container.split-screen .left-pane {
    width: 0;
  }

  .initial-layout-container.split-screen .right-pane {
    width: 100%;
  }

  .right-pane {
    visibility: visible;
  }


}

@media screen and (max-width: 600px) {

  .img-cosmic-intro {
    width: 350px;
    bottom: 55%;
  }
}
