.main-layout-container {
  display: grid;
  grid-template-areas:
    'navbar header'
    'navbar main ';
  grid-template-columns: auto 1fr;
  grid-template-rows: 71px 1fr;
  height: 100vh;
  transition: grid-template-rows 0.3s ease;
  overflow: hidden;
}

.navbar-layout {
  grid-area: navbar;
  position: sticky;
  z-index: 2;
}

.header-layout {
  grid-area: header;
  position: sticky;
  z-index: 1;
  background-color: #ffffff;

}

.main-layout {
  grid-area: main;
  overflow: auto;
  z-index: 0;
  background-color: #f0f0f6;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* MODO DARK */
.main-layout-container #dark {
  background-color: #333333;
  /* color: #ffffff; */
  border: #ffffff;
}

/* .navbar-layout #dark {
 
} */

/* .header-layout #dark {
  background-color: #333333;
} */

.main-layout #dark {
  background-color: #333333;
  color:  black;
  border: #ffffff;
}

/* MODO LIGHT */
.main-layout-container #light {
  color: rgb(12, 12, 12);
  border: #2b2a2a;
}

/* .navbar-layout #light {

} */

/* .header-layout #light {

} */

/* .main-layout #light {

} */

@media screen and (min-width: 600px) {
  .main-layout-container {
    grid-template-rows: 81px 1fr;
    transition: grid-template-rows 0.3s ease;
  }
}
