#visit_list {
  width: 800px;
  display: grid;
  grid-template-columns: 350px 350px; 
  column-gap: 25px;
}

#visit_table {
  max-width: 850px;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#visitTableHead {
  display: flex;
  justify-content: space-between;

}

#visitTableBody {
  display: flex;
  flex-direction: column;
}

.visitTableHead{
  font-weight: bold;
  text-align: start;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#visitTableBodyRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-left: 5px;
  align-items: center;
  font-size: 0.9rem;
  height: 45px;
}

#visitTableBodyRow:hover {
  background-color: #eee;
}

#VisitTableHeadRowRef,
.visitTableBodyRowRef {
  width: 130px;
}

#visitTableHeadRowName,
.visitTableBodyRowName {
  width: 140px;
}

#visitTableHeadRowPhone,
.visitTableBodyRowPhone {
  width: 90px;
}

#visitTableHeadRowDate,
.visitTableBodyDate {
  width: 135px;
}

#visitTableHeadRowStatus,
.visitTableBodyRowStatus {
  width: 100px;
}

.visitTableBodyRowStatus {
  font-weight: 600;
}

#visitTableHeadRowActions,
.visitTableBodyRowActions {
  width: 188px;
}

#visitTableHeadRowActions {
  padding-left: 15px;
}

.visitTableBodyRowActions {
  display: flex;
  align-items: center;
}


@media  screen and (max-width: 825px) {

  #visit_list {
    width: 350px;
    grid-template-columns: 320px;

  }
  
}