#visit_table {
  max-width: 850px;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#visitTableHead {
  display: flex;
  justify-content: space-between;

}

#visitTableBody {
  display: flex;
  flex-direction: column;
}

.visitTableHead .headRow {
  font-weight: bold;
  text-align: start;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#visitTableBodyRow {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 50px;
}

#VisitTableHeadRowRef,
.visitTableBodyRowRef {
  width: 150px;
}

#visitTableHeadRowName,
.visitTableBodyRowName {
  width: 150px;
}

#visitTableHeadRowDate,
.visitTableBodyDate {
  width: 150px;
}

#visitTableHeadRowStatus,
.visitTableBodyRowStatus {
  width: 100px;
}

#visitTableHeadRowActions,
.visitTableBodyRowActions {
  width: 200px;
}

#visitTableHeadRowActions {
  padding-left: 15px;
}

.visitTableBodyRowActions {
  display: flex;
  align-items: center;
}
